@import 'https://fonts.googleapis.com/css?family=Inconsolata';
html {
    min-height: 100%;
}

body {
    background-color: #ffffff;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
i {
  border: solid black;
  text-align: center;
  margin-left: 10px;
  margin-right: auto;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.box {
  border-style: solid;
  margin-top: 10px;
  border-color: black;
}
p {
  margin-left: 10px;
}
h1 {
  margin-left: 10px;
}
img {
  margin-left: 10px;
  margin-bottom: 10px;
}