@import 'https://fonts.googleapis.com/css?family=Inconsolata';
html {
    min-height: 100%;
}

body {
    background-color: #ffffff;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
i {
  border: solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}